
*{
	margin: 0px;
	padding: 0px;

}

.logo{
	float: left;
	left: 0px;
	top: 0px;
	z-index: 999;
}
.logo img{
	width: 150px;
	height: 60px;
}
.navigation{
	float: left;
	left: 150px;
	top:0px;
	width: 100%;
	height: 60px;
	background-color: #123;
	z-index: 999;

}
.navigation li{
	list-style: none;
	float: left;
	width: 90px;
	text-align: center;
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;

}

.navigation li a::before{
	vertical-align: -16px;
	text-align: center;
	display: inline-block;
	content: "";
	background-image:url(/static/img/icon-index_2c3bd00.png);
	background-size: 60% 60%;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}
.whole_navigation::after{
	display: block;
	clear: both;
}
.whole_content{
	position: relative;
	width: 100%;
	height: 1300px;
	background-color: #eee;
}
.content1{
	width: 1200px;
	height: 100%;
	background-color: #fff;
	margin: 0px auto;
}

.current_a1{
	line-height: 58px;
	width: 70px;
	height: 58px;
	border-bottom-width: 2px;
	border-bottom-color: white;
}
li a{
	color: #fff;
	text-decoration: none;
}
.navigation a:hover{
	color: #f40
}

.content_plat{
	margin-top: 60px;
	height: 100%;
	background-color:#d7d9db;
}
#search1{
	height: 60px;
	background-color: #fff;
}

#search2{

	margin-left: 20px;
	margin-right: 20px;
	width: 1160px;
	height: 100%;
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-color:#fff;
	position: relative;
}
.menu{
	position: relative;
	width: 1120px;
	height: 44px;
	line-height: 44px;
}

.menu select{
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	float: left;
	height: 30px;
	border:1px solid #333333;
	width: 180px;
}
.key_search{
	width: 180px;
	position: absolute;
	right: 0px;
	height: 30px;
	top: 0px;
	bottom: 0px;
	margin-right: 200px;
	margin-top: 15px;
	border-bottom: 2px solid rgb(0, 176, 243);
}

.key_search input{
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 20px;
	width: 160px;
	height: 16px;

}
input::-webkit-input-placeholder{
	color:gray;
}
.key_search i{
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 0px;
	display: block;
	background-image: url(/static/img/search_163b4c1.png);
	background-size: 100% 100%;
	width:17px;
	height: 20px;
}
.mutl_graph{
	position: relative;
}
#timeToRender {
	position:absolute;
	top: 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #d85757;
	padding: 0px 4px;
	color: #ffffff;
}
#cy {
	height: 500px;
	width: 1020px;
	background-color: #f9f9f9;

}
#u{

}
.ls{

	list-style: none;
	padding-top:5px;
	padding-bottom:5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top:1px solid rgb(238, 238, 238);
}
.change{

	width: 560px;
	height: 80px;
}
.dropdown{

	width: 560px;
	height: 50px;
}
.change h3{
	font-family: arial;
	font-size: 16px;
	color:black;
	font-weight: 400;
	height: 24px;
	line-height: 24px
}
.change h3 a{
	color: black;
}
.change div{
	font-size: 13px;
	line-height: 20px;
}
.change div a{
	color:green;
}