* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }



p {
  margin-bottom: 0.5rem; }

.timeline-theme-1 {
  width: 550px;
  margin: 100px auto; }

.timeline-1 .timeline-list {
  width: 550px;
  height: 187px; }

.timeline-1 .timeline-item {
  width: 550px;
  height: 187px;
  background: #ddd;
  border: none; }

.timeline-visual {
  float: left;
  width: 43%;
  height: 100%;

  line-height: 1; }
.timeline-visual img {
    max-width: 100%; }

.timeline-detail {
  background-color: white;
  float: left;
  width: 56%;
  height: 100%;
  overflow-y: auto; }

.timeline-detail-list {
  margin: 10px;
  padding: 10px; 
  font-size: 16px;
}
.timeline-detail-list li {
    margin-bottom: 0.4rem; }
.timeline-small-box .timeline-list {
  width: 600px;
  height: 187px; }

.timeline-small-box .box-item {
  float: left;
  width: 600px;
  height: 187px;
  color: #fff;
  text-align: center; }

.theme-1 {
  background: #4A2AB2; }

