.infobox {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
  padding: 30px 0 15px;
  background-color: #fff;
}

.infobox>div:first-child{
  padding:0 15px;
}

.infobox .entity_img {
  display: block;
  width: 240px;
  height: 320px;
  background-position: 100%;
}

.info_list {
  font-size: 15px;
  text-align: left;
  padding: 20px 20px;
}

.info_list .label {
  font-weight: 600;
  width: 20%;
  text-align:justify;
}

.info_list .label:after {
  content: " ";
  display: inline-block;
  width: 100%;
}

.infobox .wiki_link {
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  bottom: 10px;
  z-index: 10;
}

.info_list #entity_description{
  margin-left:30px;
}

#wordcloud {
  height: 390px;
  margin-top: -20px;
}

#entity_info_graph {
  width: 100%;
  background-color: #FFF;
}

.nav-tabs li {
  font-size: 18px;
  width: auto;
  margin-bottom: -1;
}

a.nav-link{
  color: #333;
}

.nav-tabs li:hover {
  font-weight: 700;
  border-bottom: 3px solid #ddd;
}

.nav-tabs li.active {
  font-weight: 700;
  border-bottom: 3px solid #5077f2;
}

.nav-tabs .nav-link {
  border:none;
  border-radius: 0;
}

.tab-content {
  min-height: 700px;
}

.news_list {
  background: #FFF;
}

#event-graph {
  background-color: #FFF;
}

.copyright {
  width: 100%;
  text-align: center;
}
