.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
  color: #000;
}

.tl-slidenav-next .tl-slidenav-content-container {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description {
  text-shadow: none;
  color: #fff;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p {
  color: #000;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container .tl-timemarker-media {
  opacity: 1;
}

.tab-titles{
	color: rgb(255,255,255);
	line-height: 27px;
	font-size: 18px;
	font-family: sans-serif;
	width: 200px;
	height: 900px;
	float: left;
	
}
.tab-titles li{
	border-radius: 2px;
	border-bottom: 1px solid  #F5F5DC;
	border-left: 1px solid  #F5F5DC;
	border-right: 1px solid  #F5F5DC;
}
.eventline-title{
	font-size: 25px;
	font-weight: 500;
	color: #009ACD
}
.eventline-img1{
	width: 100%;
	height: 192px;
	display: block;
	background-repeat :none;
	margin: auto;
	border-top-right-radius:20px;
	background-size:100% 100%;
	border-top-left-radius:20px;
}
.eventline-img2{
	width: 100%;
	height: 192px;
	display: block;
	background-repeat :none;
	margin: auto;
	border-bottom-right-radius:20px;
	background-size:100% 100%;
	border-bottom-left-radius:20px;
}
.content{
	position: relative;
	margin-left: 40px;
}
#no1{
	
}
.tab-content{
	
	display: none;
}
.icon img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.tab-content .article{
	margin-top:10px;
	margin-bottom: 20px;
	height: 21px;
	color: #454f6c;
	font-weight: 400;
}
.article-des p{
	margin-bottom: 10px;
	line-height: 22.5px;
	height: 20px;
	font-size: 15px;
}
.text-center{
	padding-left: 0px 15px;
	height: 77px;
	text-align: center;
	margin-bottom: 10px;
}
.nav-tabs li{
	height: 40px;
	margin-bottom: 2px;
	color: #9a9eae;
	
}
.nav-tabs li a{
	border: 1px solid rgb(0,0,0,0);
	padding: 5px 15px;
	margin-right: 2px;
	height: 28px;
	line-height: 28px;
	text-decoration:none;
	color:black;
	font-size: 15px;
	font-weight: 400px;
}
.nav-tabs li a:hover{
	color: #5077f2
}

.nav-tabs li .icon{
	width: 25px;
	height: 28px;
	background: url('http://image.baidu.com/search/detail?ct=503316480&z=undefined&tn=baiduimagedetail&ipn=d&word=icon&step_word=&ie=utf-8&in=&cl=2&lm=-1&st=undefined&hd=undefined&latest=undefined&copyright=undefined&cs=709221653,2912254968&os=1769032843,1326067825&simid=2021255763,746029468&pn=52&rn=1&di=56179034360&ln=1879&fr=&fmq=1543989568142_R&fm=&ic=undefined&s=undefined&se=&sme=&tab=0&width=undefined&height=undefined&face=undefined&is=0,0&istype=0&ist=&jit=&bdtype=13&spn=0&pi=0&gsm=0&objurl=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Ff603918fa0ec08fa6751c99d52ee3d6d55fbdab3.jpg&rpstart=0&rpnum=0&selected_tags=0&adpicid=0') no-repeat;
}
.one-item{
	height: 165px;
	padding-left: 15px;
	padding-right: 15px;
}
.one-item-subitem{
	border: 1px solid rgb(0,0,0,0);
	margin-bottom: 20px;
	height: 145px;
	background-color: #f5f6f9;
}
.one-item-article{
	margin:15px;
	padding:0px 15px;
	height: 113px;

}
.one-item-article-img{
	height: 115px;
}
.one-item-article-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.title-content{
	height: 124px;
	padding: 0px 15px;
}
.title-content-h4{
	margin-bottom: 5px;
}
.body-text{
	margin-bottom: 5px;
	word-wrap: break-word;
}
.article-meta{
	height: 70px;
	padding-left: 15px;
}
.article-meta-line{
	height: 17px;
	padding: 0px 15px;
	margin-bottom: 10px;
	text-align: right;
	
}
.article-meta-line a{
	width: 100%;
	font-size: 14px;
	color: #5077f2;
	
}
.row-flex-grow{
	height: 21px;
	color: #9a9eae;
}
.eventline-info{
	margin-left: 20px
}
.eventline-info li{
	margin-bottom: 20px;
}
.eventline-info strong{
	font-size: 18px;
}
.eventline-info span{
	font-size: 18px;
}
