* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #3c3c3c;
  min-width: 800px;
  background-color: #f5f5f5;
}

ul,li {
  list-style: none;
  margin: 0px;
}

a{
  color: #444;
  text-decoration: none;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.bg-white {
  background: #fff;
}

.bg-pink {
  background: #f783ac;
}

.bg-blue {
  background: rgb(77, 171, 247);
}

.bg-green {
  background: #64C333;
}

.bg-blime {
  background: #82c91e;
}

.white {
  color: #FFF;
}

.color-mark {
  display: inline-block;
  width: 8px;
  height: 18px;
  background-color: #de1010;
  vertical-align: middle;
}

.floor {
}

.floor-name {
  position: relative;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 48px;
  padding-left: 15px;
  color: #000;
  margin: auto;
}

.floor-name:before{
  content: '';
  position: absolute;
  width: 6px;
  height: 22px;
  background: #de1010;
  left: 0;
  top: 13px;
}

.floor-sub-name {
  font-size: 18px;
  margin-left: 10px;
}

.tag-black:before {
  background: #000;
}

.tag-yellow:before {
  background: #ffd930;
}

.tag-green:before {
  background: #589e50;
}

.tag-blue:before {
  background: #0099ff;
}

.loading.ball-pulse>div {  
  background-color: #333;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  margin: 1px;
}

.ball-pulse>div:first-child {
  animation: scale 0.8s infinite -.24s cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse>div:nth-child(2) {
  animation: scale 0.8s infinite -.12s cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse>div:nth-child(3) {
  animation: scale 0.8s infinite 0s cubic-bezier(.2,.68,.18,1.08);
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40% {
    transform: scale(.1);
    opacity: .7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}

.delimeter {
}

.delimeter-line {
  width: 80%;
  margin: auto;
  border-top: 1px solid #d2d2d2;
}

.delimeter-title {
  padding: 10px;
  color: #929292
}
.clear {
  clear: both;
}

.container {
  min-width: 800px;
}

.header{
  position: relative;
  width: 100%;
  margin: 0px auto 50px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color: #313131;
}

.header li{
  float: left;
  text-align: center;
  margin: 0 2px;
}

.header li a{
  position: relative;
  display: block;
  font-size: 16px;
  min-width: 50px;
  padding: 0 10px;
  color: #F1F1F1;
}

.header a:hover{
  background: rgba(251, 5, 5, 0.75);
  text-decoration: none;
}

.header .left {
  position: absolute;
  margin-left: 20px;
}

.header .right {
  position: absolute;
  float: left;
  right: 0;
  margin-right: 20px;
}

.datetimepicker {
  display:none;
  position: absolute;
  width: 300px;
  z-index: 3000;
  padding: 30px 10px 20px;
  background: #FFF;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  font-size: 14px;
}

.datetimepicker input {
  height: 30px;
  width: 160px;
  border-radius: 10px;
}

.datetimepicker label {
  padding-right: 5px;
}

#time_confirm_btn {
  width: 100px;
  margin: auto;
}
    
.key_search{
  position: relative;
  left: 0;
  top: 4px;
  width: 250px;
  right: 50px;
  height: 32px;
  background-color: #444;
  border-radius: 4px;
}

.key_search input{
  color: #999;
  background: transparent;
  float: left;
  outline:none;
  margin: auto;
  width: 220px;
  height: 32px;
  padding: 3px 5px;
  border:none;
  text-align: left;
}

input::-webkit-input-placeholder{
  color:gray;
}

.key_search svg{
  position: relative;
  float: left;
  color: #FFF;
  width:23px;
  height: 23px;
  top: 4px;
  left: 3px;
}

.nav-float {
  display: none;
  position: fixed;
  background: #000; 
  bottom: 50px;
  z-index:9999; 
  opacity: 0.9;
  margin-left: -90px;
  border-radius: 4px;
}

.nav-float li a{
  display: block;
  color: white;
  padding: 0 9px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
}

.nav-float li:hover {
  background-color: #fb0505;
}

.select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.time-tip {
  display: none;
  position: fixed; 
  top: 50%;
  width: 80px; 
  height: 80px;
  color: #fff; 
  text-align: center;
  border-radius: 40px; 
  background: #000;
  opacity: 0.8;
  z-index: 999999;
  cursor: pointer;
  box-shadow: 0 2px 4px 1px rgba(6, 5, 5, 0.13), 0 2px 4px 1px rgba(6, 5, 5, 0.13);
}

.new_hot{
  position: relative;
  padding-top: 10px;
}

.hot-eventlines-chart{
  position: relative;
  background-color: #FFF;
  width: 95%;
  height: 330px;
  padding: 5px 10px 10px;
  border-top: 2px solid #0099ff;
}

.hot-events {
  float: right;
  width:85%;
}

.new_hot h5 {
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
}

.hot-events #scrollDiv{
  position: relative;
  height:300px;
  width: 100%;
  min-width: 200px;
  min-height: 220px;
  line-height:60px;
  font-size:16px;
  background-color: #fff;
  border-top: 2px solid #0099ff; 
  overflow:hidden;
}

#scrollDiv li {
  position: relative;
  color: #333;
  height:60px;
  padding-left: 20px;
  padding-right: 40px;
}

#scrollDiv li.odd {
  background-color:#eee;
}

#scrollDiv li a{
  display: block;
  overflow: hidden;
  text-decoration:none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  line-height: 20px;
  right: 0;
  margin-right: 20px;
  color: #FFF;
  text-align: center;
}

.status_hot{
  background-color: #f13f40;
}

.status_new{
  background-color: #f7ba2a;
}

.statistical-list {
}

.statistical-list .item{
  position: relative;
  text-align: center;
  height: 200px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(80,119,242,.15), 0 1px 1px 0 rgba(80,119,242,.15);
}

.statistical-list .item .caption {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 5px;
}

.statistical-list .item .caption .title {
  display: inline-block;
}

.statistical-list .item .caption .number {
  display: inline-block;
  margin-left: 5px;
}

.caption .ball-pulse>div {
  background-color: #fff;
}

.statistical-list .item>.loading {
  position: absolute;
  top: 90px;
  width: 100%;
}

.statistical-list .item>.loading>div {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

.statistical-list .item canvas {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 150px;
}

.entity_list {
  position: relative;
  padding-left: 25px;
  background-color: #FFF;
  min-height: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(80,119,242,.15);
}

.entity_list ul {
  position: relative;
}

.entity_item {
  position: relative;
  height: 45px;
  margin: 10px 0;
  overflow: hidden;
}

.entity_item a {
  display: block;
  width: 70%;
}

.entity_item .entity_title {
  color: #3c3c3c;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  text-align: left;
}

.entity_type{
  font-size: 18px;
  color: #333;
  padding: 25px 5px 10px 10px;
  font-weight: 700;
  line-height: 1.18;
  border-bottom: 1px solid #eee;
}

.entity_type .en {
  font-size: 14px;
  margin-left: 10px;
}

.entity_item .entity_img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
}

.entity_item .entity_desc {
  width: 80%;
  position: absolute;
  left: 50px;
  top: 10px;
  text-decoration: none;
}

.entity_desc .line {
  border-bottom: 2px solid #0099ff;
}

.eventline_list {
  position: relative;
}

.eventline_list .eventline_item {
  display: block;
  position: relative;
  height: 340px;
  color: #454f6c;
  background-color: #444;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 3px solid #0099ff;
  box-shadow:0 1px 1px 0 rgba(80,119,242,.15), 0 1px 1px 0 rgba(80,119,242,.15);
  cursor: pointer;
}

.eventline_item:hover{
  border-bottom: 3px solid #e00e0e;
  box-shadow:0 2px 5px 1px rgba(80,119,242,.15), 0 2px 5px 0 rgba(80,119,242,.15);
}

.eventline_item .eventline_img {
  position: relative;
  width: 100%;
  height: 120px;
  background: white;
  overflow: hidden;
}

.eventline_img .row>div {
  padding: 0;
}

.eventline_item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}

.eventline_item:hover img {
  display: block;
  transform: scale(1.1);
  background: white;
}

.eventline_item .tag:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 10px;
  left: 0;
  top: 5.5px;
  background-color: #de1010;
}

.eventline_item .tag {
  position: relative;
  line-height: 14px;
  padding: 2px 4px 0 10px;
}

.eventline_item .tag.tag-date:before {
  background-color: #0099ff;
}

.eventline_item .tag-location:before {
  background-color: #ffd930;
}

.tag-keywords:before {
  
}

.eventline_item .hot_indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 3px;
  border-left: 3px solid #e21313;
  z-index: 9999;
}

.eventline_item .eventline_info {
  width: 100%;
  height: 170px;
  font-size: 13px;
  letter-spacing: 0.5px;
  background: #fff;
  padding: 10px;
}

.eventline_item .eventline_info>div {
  line-height: 17px;
  padding: 2px 0;
}

.eventline_item .eventline_info .date_info>div {
  padding: 1px 0;
}

.eventline_item .eventline_info h4{
  font-size: 17px;
  line-height: 21px;
  height: 42px;
  overflow: hidden;
	text-overflow: ellipsis;
  -webkit-overflow: -webkit-paged-x;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.location {
  font-weight: 700;
  height: 18px;
  overflow: hidden;
	text-overflow: ellipsis;
  -webkit-overflow: -webkit-paged-x;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.eventline_item .statistical-info{
  position:absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 17px;
  height: 50px;
  background:#fff;
  border-top: 1px solid #9e9d9d;
  margin:0;
}

.eventline_item .statistical-info .number {
  font-size: 15px;
}

.eventline_item .statistical-info>div {
  padding: 5px 5px;  
}

.eventline_item .statistical-info>div:first-child {
  border-right: 1px solid #9e9d9d;
  color: #e21313;
}

.eventline_item .statistical-info>div:last-child {
  border-left: 1px solid #9e9d9d;
}

.follow-me {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #FFF;
  margin:0;
  z-index: 100;
  border-top:1px solid #9e9d9d;
}

.follow-me .unfollow {
}

.follow-me .unfollow:hover {
  background: #eee;
}

.follow-me .follow {
  border-left: 1px solid #9e9d9d;
}

.follow-me .follow:hover {
  background: #eee;
}

.footer{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #313131;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  z-index: 999;
}

.footer .copyright {
  padding-top: 60px;
}

/**News Css**/
.news_list{
  position: relative;
  padding: 0 15px;
}

.latest-news {
  position: relative;
  width: 100%;
  padding: 0 5%;
  background-color: #FFF;
  border-radius: 10px;
}

.whole-article{
	height: 143px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(232,232,232);
}
.article-img{
	float: left;
	width:20%;
	height: 122px;
	margin-right: 5%;
}
.single-mode{
	position: relative;
	float: left;
	width: 70%;
	height: 100%;
}
.single-mode-inner{
	height: 100%;
}
.single-mode-inner-title{
	height: 52px;
	margin-bottom: 4px;
}
.single-mode-inner-title a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 20px;
	text-decoration-line: none;
	color: black;
	padding: 10px 0;
}
.footer-bar{
	height: 20px;
	margin-top:10px;
}
.footer-bar-left{
	position: absolute;
  height: 14px;
  color: #777;
	bottom: 0;
	margin-bottom: 15px;
	width: 100%;
}
.footer-bar-left .type{
	height: 14px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	border:1px solid rgb(65,186,173);
}
.footer-bar-left .source{
  height: 14px;
  color: #777;
  padding: 10px;
}
.footer-bar-left .time{
	height: 14px;
  color: #777;
  float: right;
}
/**News CSS end**/
