* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5{
  color: #333;
}

ul,li {
  list-style: none;
}

a{
  color: #444;
  text-decoration: none;
}

.clear {
  clear: both;
}
.navigation{
  position: relative;
  width: 100%;
  margin: auto;
  height: 50px;
  background-color: #002056;
}

.navigation li{
  float: left;
  text-align: center;
  height: 50px;
  margin: 0 10px;
}

.navigation li a{
  position: relative;
  display: block;
  line-height: 50px;
  height: 50px;
  font-size: 15px;
  color: #FFF;
}

/*
#anchor_home::before{
  vertical-align: -16px;
  text-align: center;
  display: inline-block;
  content: "";
  background-image:url(../img/icon-index_2c3bd00.png);
  background-size: 60% 60%;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
*/

.navigation a:hover{
  color: #f40
}

.navigation .left {
  position: absolute;
  margin-left: 20px;
}

.navigation .right {
  position: absolute;
  float: left;
  right: 0;
  margin-right: 20px;
}

.key_search{
  width: 250px;
  right: 50px;
  height: 30px;
  margin-right: 2px;
  margin-top: 8px;
  border-bottom: 2px solid rgb(0, 176, 243);
}

.key_search input{
  color: gray;
  background-color:#002056;
  float: left;
  outline:none;
  position: relative;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 230px;
  height: 30px;
  border:0px solid #333333;
}

input::-webkit-input-placeholder{
  color:gray;
}

.key_search i{
  position: relative;
  float: left;
  top: 7px;
  bottom: 0px;
  margin: auto;
  right: 0px;
  display: block;
  background-image: url(../img/search_163b4c1.png);
  background-size: 100% 100%;
  width:15px;
  height: 15px;
}
.content1{
	width: 1240px;
	margin: auto;
}
.content1 .show_content{
	margin-top: 50px;
}
.content1 .show_content ul{
	width: 1240px;
  margin-right: 150px;
	position: relative;
}
.content1 .show_content .li{
  float: left;
  margin-bottom: 10px;
  width: 1240px;
	height: 130px;
	padding: 20px 0px;
	border-bottom: 1px solid rgb(230, 230, 230);
}
.onepicture{
  border-left: 2px solid #EE7600;
  margin-bottom: 10px;
	float: left;
	display: block;
	width: 220px;
	height: 130px;
}
.eventline_news_num{

  margin-bottom: 10px;
  float: left;
  width: 125px;
  height: 130px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  background-color: #6959CD;
}
.eventline_events{
  text-align: center;
  margin-top: 30px;
  display: block;
  color:  #FFFFFF;
  font-size: 18px;
}
.eventline_events_n{
  text-align: center;
  margin-bottom: 30px;
  display: block;
  color:  #FFFFFF;
  font-size: 18px;
}
.eventline_news{
  text-align: center;
  margin-top: 30px;
  display: block;
  color:  #FFFFFF;
  font-size: 18px;
}
.eventline_news_n{
  text-align: center;
  margin-bottom: 30px;
  display: block;
  color:  #FFFFFF;
  font-size: 18px;
}
.eventline_events_num{
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  margin-bottom: 10px;
  float: left;
  width: 125px;
  height: 130px;
  
  background-color:   #63B8FF;
}
.onepicture img{

	height: 130px;
	width: 220px;
}
.onedetail{
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  margin-bottom: 10px;
  background-color: #FFFFF0;
  float: left;
  height: 130px;
	width: 580px;
	position: relative;
}
.onedetail h3{
  margin-left: 10px;
	height: 40px;
	font-family: "Microsoft Yahei", Avenir, "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
	font-size: 20px;
}
.onedetail h3 a{
	width: auto;
	height: auto;
}
.onedetail .tags{
	height: 20px;
	margin-bottom: 13px;
}
.onedetail .eventlineInfo{
  margin-left: 10px;
	height:22px;
	padding-right: 10px;
	color: #666;
	font-size: 12px;

}
.eventlineInfo .frr{
  margin: 20px 0px;
  font-size: 15px;
	width: 200px;
	float: left;
}
.keywords_show{
  display: none;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  background-color: #FFFFF0;
  float: left;
  height: 130px;
  width: 150px;

}
.all_keywords{
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  background-color: #FFFFF0;
  float: left;
  height: 130px;
  width: 150px;

}
.keywords_surface{
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  background-color: #C6E2FF;
  float: left;
  height: 130px;
  width: 150px;
  line-height: 130px;
  font-size: 20px;
  color: white;
  text-align: center;

}
.hot_search{
	width: 400px;
	height: 500px;
	background-color: grey;
	position:fixed;
	bottom: 220px;
	right: 80px;
	border-radius: 10px;
}
.hot_search_title{
	margin: 20px 0px;
	height: 60px;
	text-align: center;
	font-size: 25px;
	color: white;
}
.footer{
  position: relative;
  float: left;
  margin: 100px auto 0;
  width: 100%;
  height: 200px;
  background-color: #002056;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  z-index: 999;
}

.footer .copyright {
  padding-top: 60px;
}
