.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
  color: #000;
}

.tl-slidenav-next .tl-slidenav-content-container {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon {
  text-shadow: none;
  color: #fff;
}

.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description {
  text-shadow: none;
  color: #fff;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline p {
  color: #000;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container .tl-timemarker-media {
  opacity: 1;
}
